@inherits LayoutComponentBase

<div class="bg-teal-50">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="px-4">
            @Body
        </article>
    </main>
</div>
